<header>
	<h1><a href='/'>Bublé</a></h1>
	<small class='gt-600'>the <span class='gt-768'>blazing</span> fast<span class='gt-768'>, batteries-included</span> ES2015 compiler</small>

	<nav>
		<a href='/guide'>guide</a>
		<a href='https://gitlab.com/Rich-Harris/buble/issues'>report bugs</a>
		<a href='https://gitlab.com/Rich-Harris/buble'>gitlab</a>
	</nav>
</header>
